<?xml version="1.0" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Module Id="gtk__2_0_lib" Language="1033" Version="2.12.9">
    <Package Id="2ee2af11-dc29-11dc-b7b3-005056c00008" InstallerVersion="200" Manufacturer="Gtk+ Project"/>

    <Binary Id="setup.vbs" SourceFile="source\bin\setup.vbs" />
    <CustomAction Id="setup" BinaryKey="setup.vbs" VBScriptCall="Main"/>

    <InstallExecuteSequence>
      <Custom Action="setup" After="InstallFinalize">Not Installed</Custom>
    </InstallExecuteSequence>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">

        <Component Id="environment1" Guid="3b0cc0e1-df0e-11dc-9533-005056c00008">
          <Environment Id="pathenv" Action="set" Name="PATH" Part="last" Permanent="yes"
                       System="yes" Value="[MergeRedirectFolder]bin" />
          <Environment Id="basepath" Action="set" Name="GTK_BASEPATH" Permanent="no"
                       System="yes" Value="[MergeRedirectFolder]" />
          <CreateFolder />
        </Component>

        <Directory Id="etc" Name="etc">
          <Directory Id="fonts" Name="fonts">
            <Component Id="fontconfs" Guid="c3d68580-dc2c-11dc-8157-005056c00008">
              <File Id="fonts.conf" Name="fonts.conf" Source="source\etc\fonts\fonts.conf" Vital="yes"/>
              <File Id="fonts.dtd" Name="fonts.dtd" Source="source\etc\fonts\fonts.dtd" Vital="yes"/>
              <File Id="local.conf" Name="local.conf" Source="source\etc\fonts\local.conf" Vital="yes"/>
            </Component>

            <Directory Id="conf.avail" Name="conf.avail">
              <Component Id="fontsconfavail" Guid="f20a5f30-dc2c-11dc-ae92-005056c00008">
                <File Id="A10autohint.conf" Name="10-autohint.conf" Source="source\etc\fonts\conf.avail\10-autohint.conf" Vital="yes"/>
                <File Id="A10nosubpixel.conf" Name="10-no-sub-pixel.conf" Source="source\etc\fonts\conf.avail\10-no-sub-pixel.conf" Vital="yes"/>
                <File Id="A10subpixelbgr.conf" Name="10-sub-pixel-bgr.conf" Source="source\etc\fonts\conf.avail\10-sub-pixel-bgr.conf" Vital="yes"/>
                <File Id="A10subpixelrgb.conf" Name="10-sub-pixel-rgb.conf" Source="source\etc\fonts\conf.avail\10-sub-pixel-rgb.conf" Vital="yes"/>
                <File Id="A10subpixelvbgr.conf" Name="10-sub-pixel-vbgr.conf" Source="source\etc\fonts\conf.avail\10-sub-pixel-vbgr.conf" Vital="yes"/>
                <File Id="A10subpixelvrgb.conf" Name="10-sub-pixel-vrgb.conf" Source="source\etc\fonts\conf.avail\10-sub-pixel-vrgb.conf" Vital="yes"/>
                <File Id="A10unhinted.conf" Name="10-unhinted.conf" Source="source\etc\fonts\conf.avail\10-unhinted.conf" Vital="yes"/>
                <File Id="A20fixglobaladvance.conf" Name="20-fix-globaladvance.conf" Source="source\etc\fonts\conf.avail\20-fix-globaladvance.conf" Vital="yes"/>
                <File Id="A20lohitgujarati.conf" Name="20-lohit-gujarati.conf" Source="source\etc\fonts\conf.avail\20-lohit-gujarati.conf" Vital="yes"/>
                <File Id="A20unhintsmallvera.conf" Name="20-unhint-small-vera.conf" Source="source\etc\fonts\conf.avail\20-unhint-small-vera.conf" Vital="yes"/>
                <File Id="A30amtaliases.conf" Name="30-amt-aliases.conf" Source="source\etc\fonts\conf.avail\30-amt-aliases.conf" Vital="yes"/>
                <File Id="A30urwaliases.conf" Name="30-urw-aliases.conf" Source="source\etc\fonts\conf.avail\30-urw-aliases.conf" Vital="yes"/>
                <File Id="A40generic.conf" Name="40-generic.conf" Source="source\etc\fonts\conf.avail\40-generic.conf" Vital="yes"/>
                <File Id="A49sansserif.conf" Name="49-sansserif.conf" Source="source\etc\fonts\conf.avail\49-sansserif.conf" Vital="yes"/>
                <File Id="A50user.conf" Name="50-user.conf" Source="source\etc\fonts\conf.avail\50-user.conf" Vital="yes"/>
                <File Id="A51local.conf" Name="51-local.conf" Source="source\etc\fonts\conf.avail\51-local.conf" Vital="yes"/>
                <File Id="A60latin.conf" Name="60-latin.conf" Source="source\etc\fonts\conf.avail\60-latin.conf" Vital="yes"/>
                <File Id="A65fontspersian.conf" Name="65-fonts-persian.conf" Source="source\etc\fonts\conf.avail\65-fonts-persian.conf" Vital="yes"/>
                <File Id="A65nonlatin.conf" Name="65-nonlatin.conf" Source="source\etc\fonts\conf.avail\65-nonlatin.conf" Vital="yes"/>
                <File Id="A69unifont.conf" Name="69-unifont.conf" Source="source\etc\fonts\conf.avail\69-unifont.conf" Vital="yes"/>
                <File Id="A70nobitmaps.conf" Name="70-no-bitmaps.conf" Source="source\etc\fonts\conf.avail\70-no-bitmaps.conf" Vital="yes"/>
                <File Id="A70yesbitmaps.conf" Name="70-yes-bitmaps.conf" Source="source\etc\fonts\conf.avail\70-yes-bitmaps.conf" Vital="yes"/>
                <File Id="A80delicious.conf" Name="80-delicious.conf" Source="source\etc\fonts\conf.avail\80-delicious.conf" Vital="yes"/>
                <File Id="A90synthetic.conf" Name="90-synthetic.conf" Source="source\etc\fonts\conf.avail\90-synthetic.conf" Vital="yes"/>
                <File Id="README" Name="README" Source="source\etc\fonts\conf.avail\README" Vital="no"/>
              </Component>
            </Directory>
            <Directory Id="conf.d" Name="conf.d">
              <Component Id="fontsconfd" Guid="09614180-dc2d-11dc-bd23-005056c00008">
                <File Id="d20fixglobaladvance.conf" Name="20-fix-globaladvance.conf" Source="source\etc\fonts\conf.d\20-fix-globaladvance.conf" Vital="yes"/>
                <File Id="d20lohitgujarati.conf" Name="20-lohit-gujarati.conf" Source="source\etc\fonts\conf.d\20-lohit-gujarati.conf" Vital="yes"/>
                <File Id="d20unhintsmallvera.conf" Name="20-unhint-small-vera.conf" Source="source\etc\fonts\conf.d\20-unhint-small-vera.conf" Vital="yes"/>
                <File Id="d30amtaliases.conf" Name="30-amt-aliases.conf" Source="source\etc\fonts\conf.d\30-amt-aliases.conf" Vital="yes"/>
                <File Id="d30urwaliases.conf" Name="30-urw-aliases.conf" Source="source\etc\fonts\conf.d\30-urw-aliases.conf" Vital="yes"/>
                <File Id="d40generic.conf" Name="40-generic.conf" Source="source\etc\fonts\conf.d\40-generic.conf" Vital="yes"/>
                <File Id="d49sansserif.conf" Name="49-sansserif.conf" Source="source\etc\fonts\conf.d\49-sansserif.conf" Vital="yes"/>
                <File Id="d50user.conf" Name="50-user.conf" Source="source\etc\fonts\conf.d\50-user.conf" Vital="yes"/>
                <File Id="d51local.conf" Name="51-local.conf" Source="source\etc\fonts\conf.d\51-local.conf" Vital="yes"/>
                <File Id="d60latin.conf" Name="60-latin.conf" Source="source\etc\fonts\conf.d\60-latin.conf" Vital="yes"/>
                <File Id="d65fontspersian.conf" Name="65-fonts-persian.conf" Source="source\etc\fonts\conf.d\65-fonts-persian.conf" Vital="yes"/>
                <File Id="d65nonlatin.conf" Name="65-nonlatin.conf" Source="source\etc\fonts\conf.d\65-nonlatin.conf" Vital="yes"/>
                <File Id="d69unifont.conf" Name="69-unifont.conf" Source="source\etc\fonts\conf.d\69-unifont.conf" Vital="yes"/>
                <File Id="d80delicious.conf" Name="80-delicious.conf" Source="source\etc\fonts\conf.d\80-delicious.conf" Vital="yes"/>
                <File Id="d90synthetic.conf" Name="90-synthetic.conf" Source="source\etc\fonts\conf.d\90-synthetic.conf" Vital="yes"/>
              </Component>
            </Directory>
          </Directory>
          <Directory Id="gtk2.0" Name="gtk-2.0">
            <Component Id="etcgtk2.0" Guid="5be9cbc0-dc2d-11dc-8163-005056c00008">
              <File Id="gtk.immodules" Name="gtk.immodules" Source="source\etc\gtk-2.0\gtk.immodules" Vital="yes"/>
              <File Id="gdkpixbuf.loaders" Name="gdk-pixbuf.loaders" Source="source\etc\gtk-2.0\gdk-pixbuf.loaders" Vital="yes"/>
              <File Id="gtkrc" Name="gtkrc" Source="source\etc\gtk-2.0\gtkrc" Vital="no"/>
            </Component>
          </Directory>
          <Directory Id="pango" Name="pango">
            <Component Id="etcpango" Guid="6ce1d211-dc2d-11dc-940f-005056c00008">
              <File Id="pango.aliases" Name="pango.aliases" Source="source\etc\pango\pango.aliases" Vital="yes"/>
              <File Id="pango.modules" Name="pango.modules" Source="source\etc\pango\pango.modules" Vital="yes"/>
            </Component>
          </Directory>
        </Directory>
        
        <Directory Id="share" Name="share">
          <Directory Id="themes" Name="themes">
            <Directory Id="MSWindows" Name="MS-Windows">
              <Directory Id="mswindows.gtk2.0" Name="gtk-2.0">
                <Component Id="mswgtk2" Guid="8f71a11e-dc2d-11dc-9a68-005056c00008">
                  <File Id="mswgtkrc" Name="gtkrc" Source="source\share\themes\MS-Windows\gtk-2.0\gtkrc" Vital="yes"/>
                </Component>
              </Directory>
            </Directory>
            <Directory Id="Default" Name="Default">
              <Component Id="defaultgtk2" Guid="af7d8470-dc2d-11dc-8c01-005056c00008">
                <File Id="defaultgtkrc" Name="gtkrc" Source="source\share\themes\Default\gtk-2.0-key\gtkrc" Vital="yes"/>
              </Component>
            </Directory>
          </Directory>

          <Directory Id="icons" Name="icons">
            <Directory Id="hicolor" Name="hicolor">
              <Component Id="shareicons" Guid="d0484aee-dc2d-11dc-80c5-005056c00008">
                <File Id="index.theme" Name="index.theme" Source="source\share\icons\hicolor\index.theme" Vital="yes"/>
              </Component>
            </Directory>
          </Directory>
        </Directory>

        <Directory Id="lib" Name="lib">
          <Directory Id="libpango" Name="pango">
            <Directory Id="pango1.6.0" Name="1.6.0">
              <Directory Id="modules" Name="modules">
                <Component Id="pangomods" Guid="e48c47ee-dc2d-11dc-92c4-005056c00008">
                  <File Id="pangobasicfc.dll" Name="pango-basic-fc.dll" Source="source\lib\pango\1.6.0\modules\pango-basic-fc.dll" Vital="yes"/>
                  <File Id="pangobasicwin32.dll" Name="pango-basic-win32.dll" Source="source\lib\pango\1.6.0\modules\pango-basic-win32.dll" Vital="yes"/>
                </Component>
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="libgtk2_0" Name="gtk-2.0">
            <Directory Id="gtk_2_02_10_0" Name="2.10.0">
              <Directory Id="a2_10_0engines" Name="engines">
                <Component Id="engines" Guid="0567a936-04da-11dd-a8d2-001a6bce76fb">
                  <File Id="libpixmap.dll" Name="libpixmap.dll" Source="source\lib\gtk-2.0\2.10.0\engines\libpixmap.dll" Vital="yes"/>
                  <File Id="libsvg.dll" Name="libsvg.dll" Source="source\lib\gtk-2.0\2.10.0\engines\libsvg.dll" Vital="yes"/>
                  <File Id="libwimp.dll" Name="libwimp.dll" Source="source\lib\gtk-2.0\2.10.0\engines\libwimp.dll" Vital="yes"/>
                </Component>
              </Directory>
              <Directory Id="a2_10_0loaders" Name="loaders">
                <Component Id="loaders" Guid="3d2a8eec-04da-11dd-a8d2-001a6bce76fb">
                  <File Id="libpixbufloaderani.dll" Name="libpixbufloader-ani.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-ani.dll" Vital="yes"/>
                  <File Id="libpixbufloaderbmp.dll" Name="libpixbufloader-bmp.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-bmp.dll" Vital="yes"/>
                  <File Id="libpixbufloadergif.dll" Name="libpixbufloader-gif.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-gif.dll" Vital="yes"/>
                  <File Id="libpixbufloaderico.dll" Name="libpixbufloader-ico.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-ico.dll" Vital="yes"/>
                  <File Id="libpixbufloaderjpeg.dll" Name="libpixbufloader-jpeg.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-jpeg.dll" Vital="yes"/>
                  <File Id="libpixbufloaderpcx.dll" Name="libpixbufloader-pcx.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-pcx.dll" Vital="yes"/>
                  <File Id="libpixbufloaderpng.dll" Name="libpixbufloader-png.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-png.dll" Vital="yes"/>
                  <File Id="libpixbufloaderpnm.dll" Name="libpixbufloader-pnm.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-pnm.dll" Vital="yes"/>
                  <File Id="libpixbufloaderras.dll" Name="libpixbufloader-ras.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-ras.dll" Vital="yes"/>
                  <File Id="libpixbufloadertga.dll" Name="libpixbufloader-tga.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-tga.dll" Vital="yes"/>
                  <File Id="libpixbufloadertiff.dll" Name="libpixbufloader-tiff.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-tiff.dll" Vital="yes"/>
                  <File Id="libpixbufloaderwbmp.dll" Name="libpixbufloader-wbmp.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-wbmp.dll" Vital="yes"/>
                  <File Id="libpixbufloaderxbm.dll" Name="libpixbufloader-xbm.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-xbm.dll" Vital="yes"/>
                  <File Id="libpixbufloaderxpm.dll" Name="libpixbufloader-xpm.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\libpixbufloader-xpm.dll" Vital="yes"/>
                  <File Id="svg_loader.dll" Name="svg_loader.dll" Source="source\lib\gtk-2.0\2.10.0\loaders\svg_loader.dll" Vital="yes"/>
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>

        <Directory Id="bin" Name="bin">
          <Component Id="binaries" Guid="f007e300-dc2d-11dc-9359-005056c00008">
            <File Id="asprintf.dll" Name="asprintf.dll" Source="source\bin\asprintf.dll" Vital="yes"/>
            <File Id="bzip2.dll" Name="bzip2.dll" Source="source\bin\bzip2.dll" Vital="yes"/>
            <File Id="charset.dll" Name="charset.dll" Source="source\bin\charset.dll" Vital="yes"/>
            <File Id="freetype6.dll" Name="freetype6.dll" Source="source\bin\freetype6.dll" Vital="yes"/>
            <File Id="gdkpixbufqueryloaders.exe" Name="gdk-pixbuf-query-loaders.exe" Source="source\bin\gdk-pixbuf-query-loaders.exe" Vital="yes"/>
            <File Id="gettextlib.dll" Name="gettextlib.dll" Source="source\bin\gettextlib.dll" Vital="yes"/>
            <File Id="gettextpo.dll" Name="gettextpo.dll" Source="source\bin\gettextpo.dll" Vital="yes"/>
            <File Id="gettextsrc.dll" Name="gettextsrc.dll" Source="source\bin\gettextsrc.dll" Vital="yes"/>
            <File Id="gspawnwin32helper.exe" Name="gspawn-win32-helper.exe" Source="source\bin\gspawn-win32-helper.exe" Vital="yes"/>
            <File Id="gtkqueryimmodules2.0.exe" Name="gtk-query-immodules-2.0.exe" Source="source\bin\gtk-query-immodules-2.0.exe" Vital="yes"/>
            <File Id="iconv.dll" Name="iconv.dll" Source="source\bin\iconv.dll" Vital="yes"/>
            <File Id="intl.dll" Name="intl.dll" Source="source\bin\intl.dll" Vital="yes"/>
            <File Id="jpeg62.dll" Name="jpeg62.dll" Source="source\bin\jpeg62.dll" Vital="yes"/>
            <File Id="libatk1.00.dll" Name="libatk-1.0-0.dll" Source="source\bin\libatk-1.0-0.dll" Vital="yes"/>
            <File Id="libcairo2.dll" Name="libcairo-2.dll" Source="source\bin\libcairo-2.dll" Vital="yes"/>
            <File Id="libcroco0.63.dll" Name="libcroco-0.6-3.dll" Source="source\bin\libcroco-0.6-3.dll" Vital="yes"/>
            <File Id="libfontconfig1.dll" Name="libfontconfig-1.dll" Source="source\bin\libfontconfig-1.dll" Vital="yes"/>
            <File Id="libgdkwin322.00.dll" Name="libgdk-win32-2.0-0.dll" Source="source\bin\libgdk-win32-2.0-0.dll" Vital="yes"/>
            <File Id="libgdk_pixbuf2.00.dll" Name="libgdk_pixbuf-2.0-0.dll" Source="source\bin\libgdk_pixbuf-2.0-0.dll" Vital="yes"/>
            <File Id="libglib2.00.dll" Name="libglib-2.0-0.dll" Source="source\bin\libglib-2.0-0.dll" Vital="yes"/>
            <File Id="libgmodule2.00.dll" Name="libgmodule-2.0-0.dll" Source="source\bin\libgmodule-2.0-0.dll" Vital="yes"/>
            <File Id="libgobject2.00.dll" Name="libgobject-2.0-0.dll" Source="source\bin\libgobject-2.0-0.dll" Vital="yes"/>
            <File Id="libgsf1114.dll" Name="libgsf-1-114.dll" Source="source\bin\libgsf-1-114.dll" Vital="yes"/>
            <File Id="libgsfwin321114.dll" Name="libgsf-win32-1-114.dll" Source="source\bin\libgsf-win32-1-114.dll" Vital="yes"/>
            <File Id="libgthread2.00.dll" Name="libgthread-2.0-0.dll" Source="source\bin\libgthread-2.0-0.dll" Vital="yes"/>
            <File Id="libgtkwin322.00.dll" Name="libgtk-win32-2.0-0.dll" Source="source\bin\libgtk-win32-2.0-0.dll" Vital="yes"/>
            <File Id="libpango1.00.dll" Name="libpango-1.0-0.dll" Source="source\bin\libpango-1.0-0.dll" Vital="yes"/>
            <File Id="libpangocairo1.00.dll" Name="libpangocairo-1.0-0.dll" Source="source\bin\libpangocairo-1.0-0.dll" Vital="yes"/>
            <File Id="libpangoft21.00.dll" Name="libpangoft2-1.0-0.dll" Source="source\bin\libpangoft2-1.0-0.dll" Vital="yes"/>
            <File Id="libpangowin321.00.dll" Name="libpangowin32-1.0-0.dll" Source="source\bin\libpangowin32-1.0-0.dll" Vital="yes"/>
            <File Id="libpng120.dll" Name="libpng12-0.dll" Source="source\bin\libpng12-0.dll" Vital="yes"/>
            <File Id="libpng12.dll" Name="libpng12.dll" Source="source\bin\libpng12.dll" Vital="yes"/>
            <File Id="libpng13.dll" Name="libpng13.dll" Source="source\bin\libpng13.dll" Vital="yes"/>
            <File Id="libpopt0.dll" Name="libpopt-0.dll" Source="source\bin\libpopt-0.dll" Vital="yes"/>
            <File Id="librsvg22.dll" Name="librsvg-2-2.dll" Source="source\bin\librsvg-2-2.dll" Vital="yes"/>
            <File Id="libtiff3.dll" Name="libtiff3.dll" Source="source\bin\libtiff3.dll" Vital="yes"/>
            <File Id="libxml22.dll" Name="libxml2-2.dll" Source="source\bin\libxml2-2.dll" Vital="yes"/>
            <File Id="libxml2.dll" Name="libxml2.dll" Source="source\bin\libxml2.dll" Vital="yes"/>
            <File Id="pangoquerymodules.exe" Name="pango-querymodules.exe" Source="source\bin\pango-querymodules.exe" Vital="yes"/>
            <File Id="zlib1.dll" Name="zlib1.dll" Source="source\bin\zlib1.dll" Vital="yes"/>
            <File Id="libpixman10.dll" Name="libpixman-1-0.dll" Source="source\bin\libpixman-1-0.dll" Vital="yes"/>
            <File Id="libgio2.00.dll" Name="libgio-2.0-0.dll" Source="source\bin\libgio-2.0-0.dll" Vital="yes"/>
            <File Id="libexpat.dll" Name="libexpat.dll" Source="source\bin\libexpat.dll" Vital="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>

