<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Module Id="mono_cairo_lib" Language="1033" Version="1.0.5000.0">
    <Package Id="66B46D3B-1B0F-4ce0-8D8B-C225AF3B2D36" Manufacturer="Mono Project"
             InstallerVersion="200" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">

        <Directory Id="lib2" Name="lib2">
          <Directory Id="monocairo20dir" Name="Mono.Cairo">
            <Component Id="monocairo_policy.2.0" Guid="8b50cd69-23ef-4165-966a-e57d28e1ea6e">
              <File Id="policy.2.0.Mono.Cairo.dll" Name="policy.2.0.Mono.Cairo.dll" KeyPath="yes" Assembly=".net" Source="source\lib\2.0\policy.2.0.Mono.Cairo.dll" Vital="no" />
              <File Id="policy.2.0.config" Name="policy.2.0.config" CompanionFile="policy.2.0.Mono.Cairo.dll" Source="source\lib\2.0\policy.2.0.config" Vital="no" />
            </Component>
          </Directory>

        <Directory Id="lib4" Name="lib4">
          <!-- The following is not a real directory - it is created only for
	       the purposes of GACing assemblies, and will never be created on
               a host system -->
          <Directory Id="GAC4">
            <!--<Directory Id="monocairo40" Name="Mono.Cairo">-->
            <Component Id="monocairo40_dll" Guid="805c65fb-1df8-453e-ba05-2047d844bfb3">
              <File Id="monocairo40dll" Name="Mono.Cairo.dll" Assembly=".net" KeyPath="yes"
                    Source="source\lib\4.0\Mono.Cairo.dll" Vital="yes" />
            </Component>
            <!--</Directory>-->
          </Directory>

          <!-- Specifying Assembly=".net" causes the dll to be GACed but the
	       file is never installed, so we must specify it again.  See
               http://blogs.msdn.com/astebner/archive/2007/06/21/3450539.aspx -->
          <Directory Id="monocairo40dir" Name="Mono.Cairo">
            <Component Id="monocairo40_dll_inst" Guid="e028bf1c-8d89-4b72-8111-946bba04e643">
              <File Id="monocairo40dll_inst" Name="Mono.Cairo.dll" KeyPath="yes"
                    Source="source\lib\4.0\Mono.Cairo.dll" Vital="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Module>
</Wix>
