<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Module Id="mono_cairo_lib" Language="1033" Version="1.0.5000.0">
    <Package Id="66B46D3B-1B0F-4ce0-8D8B-C225AF3B2D36" Manufacturer="Mono Project"
             InstallerVersion="200" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Directory Id="lib" Name="lib">
          <!-- The following is not a real directory - it is created only for
	       the purposes of GACing assemblies, and will never be created on
               a host system -->
          <Directory Id="GAC">
            <!--<Directory Id="monocairo" Name="Mono.Cairo">-->
              <Component Id="monocairo_dll" Guid="B444473C-C3C5-4700-8884-5B73E4AFE5B5">
                <File Id="monocairodll" Name="Mono.Cairo.dll" Assembly=".net" KeyPath="yes"
                      Source="source\lib\1.0\Mono.Cairo.dll" Vital="yes" />
              </Component>
            <!--</Directory>-->
          </Directory>

          <!-- Specifying Assembly=".net" causes the dll to be GACed but the
	       file is never installed, so we must specify it again.  See
               http://blogs.msdn.com/astebner/archive/2007/06/21/3450539.aspx -->
          <Directory Id="monocairodir" Name="Mono.Cairo">
            <Component Id="monocairo_dll_inst" Guid="f5e55bd0-4ede-11dd-9af8-001a6bce76fb">
              <File Id="monocairodll_inst" Name="Mono.Cairo.dll" KeyPath="yes"
                    Source="source\lib\1.0\Mono.Cairo.dll" Vital="yes" />
            </Component>
          </Directory>
          
        </Directory>
        <Directory Id="lib2" Name="lib2">
          <Directory Id="GAC2">
            <!--<Directory Id="monocairo20" Name="Mono.Cairo">-->
              <Component Id="monocairo20_dll" Guid="310fffcc-8520-11dd-bea1-001a92982a42">
                <File Id="monocairo20dll" Name="Mono.Cairo.dll" Assembly=".net" KeyPath="yes"
                      Source="source\lib\2.0\Mono.Cairo.dll" Vital="yes" />
              </Component>
            <!--</Directory>-->
          </Directory>

          <Directory Id="monocairo20dir" Name="Mono.Cairo">
            <Component Id="monocairo20_dll_inst" Guid="46b3dbe6-8520-11dd-bea1-001a92982a42">
              <File Id="monocairo20dll_inst" Name="Mono.Cairo.dll" KeyPath="yes"
                    Source="source\lib\2.0\Mono.Cairo.dll" Vital="yes" />
            </Component>
          </Directory>

        </Directory>
      </Directory>
    </Directory>

  </Module>
</Wix>
